FLYWAY_URL=jdbc:postgresql://localhost:55432/dogwastewatcher_development
FLYWAY_USER=postgres
FLYWAY_PASSWORD=password

PGUSER=postgres
PGHOST=localhost
PGPASSWORD=password
PGDATABASE=dogwastewatcher_development
PGPORT=55432

AUTH0_DOMAIN=dogwastewatcher.auth0.com
AUTH0_CLIENT_ID=<INSERT_AUTH0_CLIENT_ID>
AUTH0_CLIENT_SECRET=<INSERT_AUTH0_CLIENT_SECRET>

SESSION_COOKIE_SECRET=<INSERT_SESSION_COOKIE_SECRET>

REDIRECT_URI=http://localhost:8080/api/callback
POST_LOGOUT_REDIRECT_URI=http://localhost:8080/